<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><img src="assets/img/logo_esprit.png"></div>
  <div class="list-group list-group-flush">

    <a routerLink="/" class="list-group-item list-group-item-action bg-light">
      <li class="fas fa-user-graduate"></li> &nbsp;<span>Liste des Etudiants</span>
    </a>
<!--     <a routerLink="/document" class="list-group-item list-group-item-action bg-light">
      <li class="fas fa-folder"></li> &nbsp;<span>Liste des Dossiers</span>
    </a>
    <a routerLink="/document" class="list-group-item list-group-item-action bg-light">
      <li class="fa fa-th-list"></li> &nbsp;<span>Liste de Documents</span>
    </a> -->
    <a routerLink="/document-type" class="list-group-item list-group-item-action bg-light">
      <li class="fa fa-clipboard"></li> &nbsp;<span>Types de Documents</span>
    </a>

  </div>
</div>